@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body{
        background-image: url("/images/First_Page_Background.jpeg");
        background-size: cover;
    }
</style>
<body>
    
</body>