@page
@model E_Learning_Platform.Pages.Courses.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create a new course</h1>

<hr />
<div class="row">
    <div class="col-md-5">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Course.Name" class="control-label"></label>
                <input asp-for="Course.Name" class="form-control" />
                <span asp-validation-for="Course.Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Course.Author" class="control-label"></label>
                <input asp-for="Course.Author" class="form-control" />
                <span asp-validation-for="Course.Author" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Course.AuthorEmail" class="control-label"></label>
                <input asp-for="Course.AuthorEmail" class="form-control" />
                <span asp-validation-for="Course.AuthorEmail" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Course.ReleaseDate" class="control-label"></label>
                <input asp-for="Course.ReleaseDate" class="form-control" />
                <span asp-validation-for="Course.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Course.Category" class="control-label"></label>
                <input asp-for="Course.Category" class="form-control" />
                <span asp-validation-for="Course.Category" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Course.Description" class="control-label"></label>
                <input asp-for="Course.Description" class="form-control" />
                <span asp-validation-for="Course.Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Next" class="btn btn-outline-primary" /> |
                <a asp-page="./Index" class="btn btn-outline-secondary" role="button">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
